<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      Customers List
    </div>
    <div class="card-body">
      <div *ngIf="customers">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of customers._embedded.customers">
              <td>{{c.id}}</td>
              <td>{{c.name}}</td>
              <td>{{c.email}}</td>
              <td>
                <button (click)="getOrders(c)" class="btn btn-info">Orders</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
